html, body {
	margin: 0 20px;
	padding: 0;
}

article:not(:last-child) {
	margin-bottom: 50px;
}

.back {
	display: block;
	padding-top: 15px;
}

.fields {
	border-top: 1px solid black;
	border-left: 1px solid black;
	/* overflow: hidden; */
	display: inline-block;
}

.fields > div {
	float: left;
	height: 20px;
	width: 20px;
	box-sizing: border-box;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.fields > div.row-start {
	clear: both;
}

.fields > div[data-game='fruit'] {
	background-color: chartreuse;
}

.fields > div[data-game='snake'] {
	background-color: coral;
}

article input {
	display: block;
}