html, body {
	margin: 0 20px;
	padding: 0;
}

.items {
	display: flex;
	flex-wrap: wrap;
}

article {
	margin-bottom: 50px;
}

.calc span,
.calc input[type=button] {
	display: inline-block;
	width: 30px;
	text-align: center;
}

.calc .res {
	text-align: left;
}

.item {
	width: 200px;
	height: 100px;
	background-color: rgb(221, 221, 221);
	box-sizing: border-box;
	margin-right: 20px;
	padding: 5px;
	text-align: center;
}

.item-active {
	outline: 1px solid red;
}

.total-sum {
	font-weight: bold;
}

.back {
	display: block;
	padding-top: 15px;
}
