.items {
	display: flex;
}

.item {
	width: 200px;
	height: 200px;
	background-color: #eee;
	box-sizing: border-box;
	margin: 20px;
	padding: 5px;
	text-align: center;
}

.item-active {
	outline: 1px solid red;
}

.total-sum {
	margin-left: 20px;
	font-weight: bold;
}