html, body {
	margin: 0 20px;
	padding: 0;
	padding-bottom: 20px;
}

article {
	margin-bottom: 50px;
}

.items {
	display: flex;
}

.items .item {
	padding: 20px 50px;
	background-color: yellowgreen;
	margin: 0 5px;
	cursor: pointer;
}

form {
	margin-bottom: 20px;
}

.err{
	outline: 1px solid red;
}

.focus{
	box-shadow: 0 0 15px #ff0;
}

.gallery div, .gallery {
	display: inline-block;
}

.gallery {
	width: 400px;
	margin: 0 20px 20px 0;
	text-align: center;
	position: relative;
}

.gallery .photos {
	height: 330px;
}

.gallery .photos img {
	width: 100%;
	position: absolute;
	left: 0;
	padding-top: 10px;
	display: none;
}

.gallery .photos img.showed {
	display: block;
}

.faq .item {
	max-width: 600px;
}

.faq .item .question {
	cursor: pointer;
	font-size: larger;
}

.faq .item .answer {
	background-color: gainsboro;
	padding: 10px;
	/* overflow: hidden; */
	display: none;
}

.animation .item {
	height: 150px;
	width: 600px;
	margin: 30px 0;
	background-color: rgb(100, 192, 8);
	cursor: pointer;
}

nav a {
	display: inline-block;
	margin-right: 20px;
	padding: 5px 0;
}

