html, body {
	margin: 0 20px;
	padding: 0;
}

article:not(:last-child) {
	margin-bottom: 50px;
}

.carousel .item {
	width: 300px;
	padding: 20px 50px;
	background-color: yellowgreen;
	margin: 0 5px;
	cursor: pointer;
}

form {
	margin-bottom: 20px;
}

form input[type=button] {
	margin-top: 15px;
}

